<html>
  <head>
    <title>Add scroll bar to a div</title>
    <style type="text/css">
      .scrollable {
        height: 100px;
        width:300px;
        overflow-y: scroll;
      }
    </style>
  </head>
  <body>
    <div class="scrollable">
      <table>
        <tr>
          <td>row 1</td>
        </tr>
        <tr>
          <td>row 2</td>
        </tr>
        <tr>
          <td>row 3</td>
        </tr>
        <tr>
          <td>row 4</td>
        </tr>
        <tr>
          <td>row 5</td>
        </tr>
        <tr>
          <td>row 6</td>
        </tr>
        <tr>
          <td>row 7</td>
        </tr>
        <tr>
          <td>row 8</td>
        </tr>
      </table>
    </div>
  </body>
</html>